header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  & > div {
    display: inline-flex;
    align-items: center;
    color: white;
    font-weight: 600;
    font-family: cursive;
    button {
      color: white !important;
    }
  }
  & > span {
    margin-right: 20px !important;
    border: 1px solid white !important;
    border-radius: 50%;
    span {
      padding: 5px;
    }
  }
}
.ant-layout {
  height: 100vh;
}
